version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: movebrasil-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend
    container_name: movebrasil-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
